/* RESET */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

.my-btn {
  width: 150px;
  color: white;
  font-weight: 800;
  border: transparent;
  padding: 1rem 0.4rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  background-color: rgb(2, 130, 249);
}

div.index-header {
  height: 13vh;
  display: flex;
  /* padding: 0.5rem; */
  align-items: center;
  justify-content: space-around;
}
div.index-header nav {
  height: 100%;
}
div.index-header nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
div.index-header nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
  list-style-type: none;
  /* border-bottom: 4px solid blue; */
}
div.index-header nav ul li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
div.index-header nav ul li:hover,
div.index-header nav ul li:active,
div.index-header nav ul .active {
  border-bottom: 4px solid blue;
}

div.comic-card {
  width: 16.6666666667%;
  padding: 0.5rem;
}
div.comic-card img {
  width: 80%;
  height: 80%;
  margin-bottom: 1rem;
}
div.comic-card h4 {
  text-transform: uppercase;
  color: white;
}

div.index-main span,
div.index-main h4 {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

#jumbotron {
  height: 40vh;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  position: relative;
}

div.index-main-top {
  /* height: 15vh; */
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 8rem;
  text-align: center;
  justify-content: center;
  /*   align-items: center;
  justify-content: center; */
  background-color: black;
}
div.index-main-top .my-btn {
  position: absolute;
  top: 50%;
  left: 8%;
}

div.index-main-bottom {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(2, 130, 249);
  position: relative;
  z-index: 2;
}
div.index-main-bottom ul li {
  display: inline;
  padding: 0 0.7rem;
  list-style-type: none;
}
div.index-main-bottom ul li img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  vertical-align: middle;
}

div.index-footer-top {
  height: 42vh;
  color: white;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  background-image: url("/images/footer-bg.jpg");
}
div.index-footer-top div.nav-wrapper {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20vw;
}
div.index-footer-top div.nav-wrapper div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
div.index-footer-top div.nav-wrapper div h4 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
div.index-footer-top div.nav-wrapper div nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.index-footer-top div.nav-wrapper div nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.index-footer-top div.nav-wrapper div nav ul li {
  padding: 0;
}
div.index-footer-top img {
  scale: 1.2;
}

div.index-footer-bottom {
  z-index: 2;
  height: 10vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(48, 48, 48);
}
div.index-footer-bottom button {
  color: white;
  padding: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid rgb(2, 130, 249);
}
div.index-footer-bottom div.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
div.index-footer-bottom div.social-wrapper a {
  font-weight: 800;
  margin-right: 1rem;
  text-decoration: none;
  color: rgb(2, 130, 249);
  text-transform: uppercase;
}

#test-1 {
  text-align: center;
  position: relative;
  z-index: 3;
  height: 30vh;
  background-color: black;
  line-height: 30vh;
}
#test-1 h1 {
  text-transform: capitalize;
  color: blueviolet;
}

/* comics-books-detail */
.banner {
  height: 10vh;
}

.container-top,
.container-bottom,
.container-banner {
  width: 70vw;
  margin: 0 auto;
}

.bg-comics-book {
  background-color: rgb(246, 246, 246);
}

.container-banner img {
  position: absolute;
  bottom: 40%;
}

.comics-book-container {
  height: 90vh;
  z-index: 3;
  position: relative;
  background-color: white;
}
.comics-book-container .comics-book-cover {
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.comics-book-container .comics-book-cover img:first-child {
  position: absolute;
  bottom: 92%;
}
.comics-book-container .comics-book-cover .comics-book-txt h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.comics-book-container .comics-book-cover .comics-book-txt .comics-book-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: green;
  margin-bottom: 1rem;
}
.comics-book-container .comics-book-cover .comics-book-txt .comics-book-info .comics-book-price {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.comics-book-container .comics-book-cover .comics-book-txt p {
  line-height: 30px;
}
.comics-book-container .comics-book-detail {
  width: 70vw;
  margin: 0 auto;
  height: 26vh;
}
.comics-book-container .comics-book-detail .talent,
.comics-book-container .comics-book-detail .speces {
  float: left;
  width: 50%;
}
.container-fluid {
  position: relative;
  z-index: 3;
}

div.comics-book-bottom {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
}
div.comics-book-bottom ul li {
  display: inline;
  padding: 0 0.7rem;
  list-style-type: none;
}
div.comics-book-bottom ul li img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  vertical-align: middle;
  /* background-color: rgb(220, 220, 220); */
}